*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #1e282c;
    overflow: hidden;
}

.container{
    display: grid;
    grid-template-columns: 260px auto;
    grid-template-rows: auto 70px;

    width: 100%;
    height: 100vh;

    #menu-hamburge{
        display: none;
    }

    #characters-title-max-div{
        height: 40px;
        position: absolute;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        top: 80px;
        right: 10px;

        span{
            font-weight: 300;
            font-size: 24px;
            color: #435761;
        }
    }

    aside{
        background: #2c3a41;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        font-size: 1.5rem;

        #cabecalho-aside-div{
            height: 20%;

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 10px;
            
            h1{
                color: white;
            }

            img{
                width: 80px;
                cursor: pointer;
            }
        }

        #notes-list-div-aside{
            width: 100%;
            height: 80%;

            background: #1e282c;

            overflow-y: auto;

            font-size: 1.7rem;

            ul{
                list-style: none;

                width: 100%;
                height: auto;

                padding-top: 10px;

                li{
                    width: 100%;
                    min-height: 80px;
                    text-align: center;
                    margin: 10px 0;
                    cursor: pointer;
                    display: flex;

                    span{
                        width: 80%;
                        height: 100%;
                        display: inline-block;
                        color: white;
                        word-break: break-word;
                    }
    
                    .icon-lixeira-span-list-aside{
                        width: 20%;
                        display: inline-block;
                        
                        .lixeira-icon{
                            width: 27px;
                        }
                    }
                }

                li:hover{
                    color: #fd520d;
                }
            }
        }
    }

    main{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        background: #e3e9d8;
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow-y: auto;

        #title-note-div{
            width: 100%;
            min-height: 10px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            background-color: #d1cecf;
            border-bottom:  3px solid rgb(114, 114, 114);
            padding: 10px;
    
            textarea{
                min-height: 100px;
                display: block;
                grid-column: 1;
                grid-row: 1;
                text-align: center;
                border: none;
                box-shadow: none;
                font-size: 3rem;
                resize: none;
                color: #435761;
                font-weight: bolder;
            }
    
            textarea:focus{
                outline: none;
                border: none;
            }
        }

        textarea{
            width: 100%;
            flex: 1;
            border: none;
            background: transparent;
            font-size: 1.7rem;
            resize: none;
            overflow-y: auto;
            padding: 0 10px;
        }
        
        textarea:focus{
            outline: none;
            border: none;
        }
    }

    footer{
        background: #2c3a41;
        grid-column: 1 / 3;
        grid-row: 2 / 3;

        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 16px;

        span{
            color: white;
        }
    }
}

@media(max-width: 850px){
    .container{
        display: flex;
        flex-direction: column;

        #menu-hamburge{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            gap: 3px;
            height: 70px;
            width: 100px;
            position: absolute;
            top: 15px;
            right: 10px;
            z-index: 1000;

            .burger{
                width: 70px;
                height: 15px;
                border-radius: 10px;
                background: #2c3a41;
                transition: .4s linear;
                cursor: pointer;
            }

            .active-burger-1{
                transform: rotatez(45deg) translateY(10px);
                background: #FD520D;
            }
            .active-burger-2{
                position: absolute;
                transform: translateY(-10px);
                opacity: 0;
            }
            .active-burger-3{
                transform: rotatez(-45deg) translateY(-15px);
                background: #FD520D;
            }
        }

        aside{
            position: fixed;
            width: 100%;
            height: 100vh;
            transform: translateY(-100vh);
            transition: .4s linear;
        }

        .show-aside-mobile{
            transform: translateY(0vh);
        }

        main{
            width: 100%;
            flex: 1;

            #title-note-div{
                padding: 20px 100px 0 5px;
            }

        }

        footer{
            display: none;
        }
    }
}

@media(max-width: 470px){
    .container{
        main{
            #title-note-div{
                    
                textarea{
                    font-size: 2.5rem;
                }
            }
    
        }
    }
}

@media(max-width: 420px){
    .container{
        main{
            #title-note-div{
                    
                textarea{
                    font-size: 2rem;
                }
            }
    
        }
    }
}

@media(max-width: 360px){
    .container{


        #menu-hamburge{

            padding-left: 10px;
        }

        main{


            #title-note-div{
                padding-top: 30px;
                textarea{
                    font-size: 1.6rem;
                }            }

        }

        footer{
            display: none;
        }
    }
}